# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
venv/
env/
.env

# IDEs
# .vscode/ (Removed to share IDE toolkit)
.idea/
.DS_Store

# Logs
*.log
npm-debug.log*

# Node
node_modules/

# Build artifacts
dist/
build/
*.egg-info/
site/

# Generated documentation artifacts (built in CI)

# Generated search index
search.json

._*

